In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
json_df = pd.read_json('HeroesOfPymoli/purchase_data.json')
json_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
player_count = len(json_df["SN"].unique())
player_count

573

In [5]:
player_count = len(json_df["SN"].value_counts())
player_count

573

In [6]:
unique_item_count = len(json_df["Item ID"].value_counts())
unique_item_count

183

In [7]:
total_number_purchases = len(json_df["SN"].value_counts())
total_revenue = json_df["Price"].sum()
print(total_number_purchases)
print(np.round(total_revenue, decimals=2))

573
2286.33

In [8]:
average_purchase_price = total_revenue / total_number_purchases
print(np.round(average_purchase_price, decimals=2))

3.99

In [8]:
gender_df = json_df.drop_duplicates(['SN'], keep='first')
print(len(gender_df))

573

In [10]:
# gender_counts_df = pd.DataFrame(gender_df["Gender"].value_counts())
# gender_counts_df

gender_groups = json_df.groupby('SN')
gender_counts = pd.DataFrame(gender_groups['Gender'].unique().value_counts())
gender_counts['Percent'] = gender_counts["Gender"] / player_count * 100
gender_counts

                         Gender    Percent
[Male]                      465  81.151832
[Female]                    100  17.452007
[Other / Non-Disclosed]       8   1.396161

In [29]:
# Need to format percentage
gender_counts_df['Percent'] = gender_counts_df["Gender"] / player_count * 100
gender_counts_df

NameError: name 'gender_counts_df' is not defined

In [11]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 119]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '>64']

In [37]:
age_df = json_df
age_df['Age Group'] = pd.cut(age_df["Age"], bins, labels=group_names)

In [36]:
age_groups = age_df.groupby('SN')
age_counts = pd.DataFrame(age_groups['Age Group'].unique().value_counts())
# sort values by Age Group

         Age Group
[20-24]        258
[15-19]        100
[25-29]         87
[30-34]         47
[35-39]         27
[10-14]         23
[<10]           19
[40-44]         10
[20-24]          1
[45-49]          1

In [13]:
# grouped_sn = json_df.groupby('SN')
# grouped_sn
# number_of_purchase = grouped_sn["Age"].count()
# number_of_purchase.head()

In [17]:
grouped_age_groups = age_df.groupby('Age Group')
purchase_per_group_df = pd.DataFrame(grouped_age_groups['SN'].count())
renamed_purchase_per_group_df = purchase_per_group_df.rename(columns = {"Age Group": "Age Group", "SN": "Number of Purchases"})
print(renamed_purchase_per_group_df)

           Number of Purchases
Age Group
<10                         28
10-14                       35
15-19                      133
20-24                      336
25-29                      125
30-34                       64
35-39                       42
40-44                       16
45-49                        1
50-54                        0
55-59                        0
60-64                        0
>64                          0

In [18]:
average_purchase_price_age_groups = age_df.groupby('Price')
average_purchase_price_df = pd.DataFrame(average_purchase_price_age_groups['Price'].mean())
renamed_average_purchase_price_df = purchase_per_group_df.rename(columns = {"Age Group": "Age Group", "SN": "Average Purchase Price"})
print(renamed_average_purchase_price_df)

           Average Purchase Price
Age Group
<10                            28
10-14                          35
15-19                         133
20-24                         336
25-29                         125
30-34                          64
35-39                          42
40-44                          16
45-49                           1
50-54                           0
55-59                           0
60-64                           0
>64                             0